.name {
    font-weight: 900;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    color:  rgb(155, 3, 185);
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.hBox {
    background-color:  rgb(241, 198, 3);
    padding: 1em;
    box-shadow: 8px 8px 20px whitesmoke inset, -8px -8px 20px whitesmoke inset; 
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fWrapper {
    margin: 3rem;
    background: whitesmoke;
    border: rosybrown 3px solid;
    border-radius: 1.5rem;
    opacity: 0.8;
    padding: 1.5rem 3rem;
    min-width: 60%;
    min-height: auto;
}

.nameField {
    padding-top: 2rem;
    display: block;
}

.NWrapper {
    font-size: 1.5rem;
    margin-top: 1rem;
    background: whitesmoke;
    border: rosybrown 1px solid;
    border-radius: 0.5rem;
    opacity: 0.8;
    padding: 0.5rem 1rem;
    min-width: auto;
    min-height: auto;
}

.tables, td, th {
    border: 2px rosybrown solid;

}

#nameBtn {
    border: 2px rgb(241, 198, 3) solid;
    background-color: rgb(155, 3, 185);
    color: white;
}
/* index.css */